.container
    .row.justify-content-center
        .col-md-8
            .card
                .card-header {{ $t('welcome') }}
                .card-body
                    | I'm an example component.
